/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 31, 2014, 11:14:38 PM
    Author     : sijiewang
*/

div.arial {font-family: arial;}
div.helvetical {font-family: Helvetica;}
div.TimesNewRoman {font-family: "Times New Roman";}
div.MrsEaves {font-family: "Mrs Eaves";}

div {line-height:28px;}